Makefile*
moc_*
*.o
*.gcda
*.gcno
.moc
.obj
*.so
*.so.*
*.a
*~
*.core
*.swp
*.tags
builddir
core
*.moc

*pro.user
build-stamp
configure-stamp
coverage-html
coverage.info
debian
doc/html
doc/qch
lib/SignOn/doc/html
lib/SignOn/doc/qch
signon-*.tar.bz2
